.card{
    display: flex;
    flex-direction: row;
    gap: 15px;

    

    
}

.card-image{
    
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-body{
    /* width: 250px; */
    height: 200px;
    display: flex;
    flex-direction: row;
    
}

.title{
    display: flex;
    flex-direction: column;
    border: 2px solid pink;

}

.price{
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
}

.card-button{
    background-color: blue;
    color: white;
}