.about-parent {
  padding-top: 110px;
  min-height: 100vh;
  background-image: url("../images/rostislav-artov-Gx5RF9rXVkE-unsplash.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Noto Serif Oriya", serif;
}
.about-container {
  height: 500px;
  width: 800px;
  background-color: #d4a373cb;
  line-height: 28px;
  text-align: center;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 3px;
  color: #FEFAE0;
}

.about-container h1 {
  margin: 0;
  padding: 0;
  color: #7f5539;

}

.bold{
  font-weight: 900;
  font-weight: bolder;
  font-style: italic;
  color: #7f5539;
  
}



/* ========== MOBILE ================ */
@media (min-width: 320px) and (max-width: 425px) {
  .about-container {
    height: 400px;
    width: 310px;
    line-height: 18px;
    padding: 15px 5px;
    margin: 10px auto;
    margin-bottom: 10px;
  }
  .about-container p{
    font-size: 10px;
  }
  .about-parent {
    padding-top: 50px;
    
  }
}

/* ============== TABLET  768px ================= */
@media (min-width: 426px) and (max-width: 768px) {
  .about-container {
    height: 400px;
    width: 700px;
    line-height: 25px;
    padding: 0 5px;

    margin: 10px auto;
    margin-bottom: 10px;
  }
  .about-container p{
    font-size: 15px;
  }
  .about-parent {
    padding-top: 90px;
    
  }
}
/* ======== LAPTOP 1024px ======== */
@media (min-width: 769px) and (max-width: 1024px) {
  
}

/* ======== EXTRA LARGE SCREEN ======== */
@media (min-width: 1024px) and (max-width: 1440px) {
}


