@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@600&display=swap");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../images/wheat1.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Noto Serif Oriya", serif;
}
.header h1 {
  font-size: 7rem;
  background: rgba(254, 250, 224, 0.8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInAnimation ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ========== MOBILE ================ */
@media (min-width: 425px) {
  .header h1 {
    font-size: 2rem;
  }
}

/* ============== TABLET  768px ================= */
@media (min-width: 768px) {
  .header h1 {
    font-size: 4rem;
  }
}

/* ======== LAPTOP 1024px ======== */
@media (min-width: 1024px) {
  .header h1 {
    font-size: 5.5rem;
  }
}

/* ======== EXTRA LARGE SCREEN ======== */
@media (min-width: 2560px) {
  .header h1 {
    font-size: 8rem;
  }
}








