@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@600&display=swap");

body {
  background-image: url("../images/wheat1.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: "Noto Serif Oriya", serif;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/polina-rytova-1dGMs4hhcVA-unsplash\ \(1\)-modified.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}
.header h1 {
  font-size: 7rem;
  background: rgba(254, 250, 224, 0.8);
  /* background: rgb(32, 127, 217);
  background: linear-gradient(
    90deg,
    rgba(32, 127, 217, 1) 0%,
    rgba(130, 196, 222, 1) 46%,
    rgba(228, 227, 130, 1) 58%,
    rgba(250, 237, 2, 1) 100%
  ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: fade 1s ease-in 1s;
    visibility: visible; */
  /* opacity: 0; */
  animation: fadeInAnimation ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* h1:hover {
   
    visibility: visible;
} */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
