
.display-items{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: none;
    margin-bottom: 75px;
    
}

.product-card{
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
    
}

.product-card:hover{
    opacity: 80%;
}

.product-image{
    height: 400px;
}

.product-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.product-text {
    height: 100px;
    margin-left: 10px;
    
}

.product-text p {
    color:#7f5539 ;
    
}

a:-webkit-any-link{
    text-decoration: none;
}

a:-webkit-any-link:hover{
    text-decoration: underline;
}

.store-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 110px;
    margin-bottom: 5px;
}

.store-nav h2{
    color:#7f5539 ;
    padding-left: 10px;
}


/* ========== MOBILE ================ */
@media (min-width: 320px) and (max-width: 425px) {
    .display-items{
        display: grid;
        grid-template-columns: 1fr;
        font-size: 15px;
    }
    .product-card{
        height: 300px;
        border-radius: 5px;
    }

    .product-image{
        height: 200px;
    }

  }
  
  /* ============== TABLET  768px ================= */
  @media (min-width: 426px) and (max-width: 768px) {
    .display-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 15px;
    }
    .product-card{
        height: 300px;
        border-radius: 5px;
    }

    .product-image{
        height: 200px;
    }
  }
  
  /* ======== LAPTOP 1024px ======== */
  @media (min-width: 769px) and (max-width: 1024px) {
    .display-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 15px;
    }
    .product-card{
        height: 300px;
        border-radius: 5px;
      
    }

    .product-image{
        height: 200px;
    }
  }
  
  /* ======== EXTRA LARGE SCREEN ======== */
  @media (min-width: 1024px) and (max-width: 1440px) {
    
  }


/* ======== Laptop ======== */
@media (max-width: 1024px) {
    /* .display-items{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 10px;
        margin-left: 10px;
        margin-right: 20px;
        background-image: none;
        
    } */

    /* .product-card{
        height: 400px;
      
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 5px;
        
    } */

    /* .product-image{
        height: 300px;
    }
    
    .product-image img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    
    .product-text {
        height: 100px;
        margin-left: 10px;
        color: black;
     
    } */
}


/* ============== TABLET ================= */
@media (max-width: 768px) {
    /* .display-items{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
        margin-left: 10px;
        margin-right: 20px;
        background-image: none;
        
    } */
}



/* ======== EXTRA LARGE SCREEN ======== */
@media (min-width: 2560px) {
    /* .display-items{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 10px;
        margin-left: 10px;
        margin-right: 20px;
        background-image: none;
        
    } */
}


