.dropdown {
    position: relative;
    margin-right: 20px;
  }
  
.dropdown button{
  height: 35px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #CCD5AE;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #FEFAE0 ;
  padding: 8px;
  border: none;
  border-radius: 3px;

}
  .menu {
    position: absolute;
    list-style-type: none;
    margin: 5px;
    margin-left: -1px;
    font-size: 15px;
    padding: 0;
    border: 1px solid grey;
    width: 150px;
    height: 100px;
    background-color: #FEFAE0 ;
    border-radius: 3px;
  }
  
  .menu > li {
    margin: 0;
    background-color: #FEFAE0 ;
    padding: 5px;
    color: #CCD5AE;
  }
  
  .menu > li:hover {
    background-color: #E9EDC9;
  }

  .drop-links{
    color: #D4A373
  }

  
  
  /* .menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
    
  } */