.dropdown {
    position: relative;
    margin-right: 20px;
  }
  
.dropdown button{
  height: 35px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FEFAE0;
  background-color: #D4A373;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 8px;
  border: none;
  border-radius: 3px;

}
  .menu {
    position: absolute;
    list-style-type: none;
    margin: 5px;
    margin-left: -1px;
    font-size: 15px;
    padding: 0;
    border: 1px solid grey;
    width: 150px;
    height: 100px;
    background-color: #FEFAE0;
    border-radius: 3px;
    z-index: 1000;
  }
  
  .menu > li {
    margin: 0;
    background-color: #FEFAE0;
    padding: 5px;
    color: #CCD5AE;
  }
  
  .menu > li:hover {
    background-color: #FAEDCD;
  }

  .drop-links{
    color: #D4A373
  }

  
  