.navbar {
    /* border: 2px solid rgb(0, 213, 255); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    font-size: 22px;
    padding: 5px;
    background: transparent;
    background-color: rgba(254, 250, 224, 0.2) ;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.links{
    text-decoration: none;
    color: #7f5539;
}

.links:hover {
    text-decoration:underline;
    color: #7f5539;;
}

.cart{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 90px;
    font-size: 22px;
    border-radius: 3px;
    border: none;
    color: #FEFAE0;
    background-color: #CCD5AE;
    margin-right: 10px;
    padding: 10px;
   
}

.cart:hover {
   text-decoration: underline;
}

