.navbar {
    /* border: 2px solid rgb(0, 213, 255); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    /* background-image: url("../images/nav8.png"); */
    height: 92px;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 1px;
}

.links{
    text-decoration: none;
    color: #7f5539;

}

.links:hover {
    text-decoration:underline;
    color: #7f5539;

}

.cart{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Noto Serif Oriya', serif;
    width: 90px;
    font-size: 22px;
    border-radius: 5px;
    padding-top: 3px;
    border: none;
    color: #7f5539;
    background-color: rgba(255, 255, 255, 0);
   
}

.cart:hover {
   text-decoration: underline;
}

