.navbar {
    /* border: 2px solid rgb(0, 213, 255); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-image: url("../images/nav8.png");
    height: 92px;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 1px;
   
    
}

.links{
    text-decoration: none;
    color: black;

}

.links:hover {
    text-decoration:underline;
    color: black;

}

.cart{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Noto Serif Oriya', serif;
    width: 90px;
    font-size: 22px;
    border-radius: 5px;
    padding-top: 3px;
    border: none;
    background-color: white;
   
}

.cart:hover {
    border: 2px solid black;
    border-radius: 5px;
}
/* .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
} */
