.card{
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* border: 2px solid black; */
    padding: 10px;
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 900px;
    border-radius: 5px;
    margin-left: 20px;

    

    
}

.card-image{
    
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}
.card-body{
    /* width: 250px; */
    height: 200px;
    display: flex;
    flex-direction: row;
    
}

.title{
    display: flex;
    flex-direction: column;
    border: 2px solid pink;

}

.price{
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
}

.card-button{
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

.card-button:hover {
    text-decoration: underline;
    cursor: pointer;
}
