.card-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 900px;
  height: 500px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 10px;
  color: #7f5539;
  margin-top: 15px;
}

.card-image {
}
.card-image img {
  height: 380px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  height: 500px;
}

.card-text p {
  font-size: 18px;
  line-height: 25px;
}
.card-text h3 {
  margin-top: 0;
  font-size: 25px;  
}

.card-button {
  color: #fefae0;
  background-color: #d4a373;
  font-weight: bold;
  width: 100px;
  height: 35px;
  border-radius: 3px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ========== MOBILE ================ */
@media (min-width: 320px) and (max-width: 425px) {
  .card {
    width: 300px;
    height: 250px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 5px;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 8px;
  }

  .card-image img {
    height: 150px;
    object-fit: cover;
    width: 100px;
  }

  .card-text {
    height: 250px;
    width: 200px;
  }

  .card-text p {
    font-size: 8px;
    line-height: 12px;
  }
  .card-text h3 {
    margin-top: 0;
    font-size: 15px;
  }

  .card-text h4 {
    margin-top: 0;
    font-size: 12px;
  }

  .card-button {
    width: 90px;
    height: 25px;
    font-size: 12px;
  }
}

/* ============== TABLET  768px ================= */
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    width: 600px;
    height: 300px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 5px;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 18px;
  }

  .card-image img {
    height: 250px;
    object-fit: cover;
    width: auto;
  }

  .card-text {
    height: 300px;
    width: 400px;
  }

  .card-text p {
    font-size: 15px;
    line-height: 18px;
  }
  .card-text h3 {
    margin-top: 0;
    font-size: 18px;
  }

  .card-text h4 {
    margin-top: 0;
    font-size: 16px;
  }

  .card-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90px;
    height: 25px;
    font-size: 12px;
  }
}

/* ======== LAPTOP 1024px ======== */
@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 700px;
    height: 500px;
    border-radius: 5px;
    margin-left: 20px;
    color: #7f5539;
    margin-left: 5px;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .card-image img {
    height: 300px;
    object-fit: cover;
  }

  .card-button {
    font-weight: bold;
    width: 120px;
    height: 45px;
    font-size: 18px;
    border-radius: 3px;
    padding: 8px;
  }
}

/* ======== EXTRA LARGE SCREEN ======== */
@media (min-width: 1024px) and (max-width: 1440px) {
  .card {
    gap: 20px;
  }
}
